@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700,900&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean');
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.font {
	font-family: 'Nanum Pen Script', cursive;
	font-size: 60px;
}

.white-font.font.right {
	font-size: 60px !important;
}

#menu-name {
	line-height: 1.0 !important;
}

.white-container {
	border: 0.15rem solid white;
	border-radius: 0.5rem;
	margin-top: 20px;
}

.horizontal-line {
	width: 0.15rem;
	height: 100%;
	background-color: white;
}

.content-box {
	margin-left: 1.3rem;
	border-radius: 0.5rem;
	width: 70%;
	height: 80px;
	border: 0.15rem solid white;
}

.color-white {
	color: white !important;
}

.transparent-input {
	background-color:rgba(0, 0, 0, 0);
    color:white;
    border: none;
    outline:none;
    height:30px;
    transition:height 1s;
    -webkit-transition:height 1s;
}