<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.greentumbler.account">
	<select id="selectAll" resultType="account">
		SELECT  ACCOUNT_ID, PWD
		FROM    SGT_ACCOUNT
	</select>
	<select id="selectOne" resultType="account">
		SELECT  ACCOUNT_ID, PWD, NICKNAME, STAR_TYPE, STAR_CNT, FCM_TOKEN
		FROM    SGT_ACCOUNT
		WHERE 	ACCOUNT_ID=#{ account_id }
	</select>
	
	<select id="getMyMenus" resultType="menu">
		SELECT  PM.PRIVATE_MENU_ID, PM.CUP, PM.ACCOUNT_ID, PM.MENU_ID, PM.SHOT, PM.SYRUP, PM.WHIPPED_CREAM, PM.DRIZZLE, PM.SIZE, PM.OPTION_SUM, PM.PRICE,
				M.MENU_NAME, M.CATEGORY1, M.CATEGORY2
		FROM    SGT_PRIVATE_MENU PM
		JOIN	SGT_MENU M
		ON		PM.MENU_ID = M.MENU_ID
		WHERE 	PM.ACCOUNT_ID=#{ account_id }
	</select>
</mapper> 
 


