<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sinc.greentumbler.alarm">
	<select id="selectAll" parameterType="String" resultType="alarm">
		SELECT A.ALARM_ID, A.MSG, A.ACCOUNT_ID, A.ALARM_TYPE, AO.ORDER_ID
		FROM SGT_ALARM A
		LEFT JOIN SGT_ALARM_ORDER AO
		ON A.ALARM_ID= AO.ALARM_ID
		WHERE A.ACCOUNT_ID=#{ account_id }
	</select>
	<select id="insertRow" parameterType="alarm" resultType="int">
		INSERT INTO SGT_ALARM (ALARM_ID, MSG, ACCOUNT_ID, ALARM_TYPE)
		VALUES (NEXTVAL('SGT_ALARM_SEQ'), #{ msg }, #{ account_id }, #{ alarm_type });
	</select>
</mapper>