<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.greentumbler.order">
	<select id="insertRow" parameterType="order" resultType="order">
		INSERT INTO SGT_ORDER (ORDER_ID, ACCOUNT_ID, PRICE, TUMBLER_ID)
		VALUES (NEXTVAL('SGT_ORDER_SEQ'), #{ account_id }, #{ price }, #{ tumbler_id })
		RETURNING ORDER_ID, ACCOUNT_ID, TUMBLER_ID, PRICE
	</select>
	<select id="insertOrderItem" parameterType="orderDetail" resultType="int">
		INSERT INTO SGT_ORDERDETAILS (ORDER_ID, LINE_ID, MENU_ID, SHOT, SYRUP, WHIPPED_CREAM, DRIZZLE, SIZE, OPTION_SUM, MENU_CNT, PRICE, PRIVATE_MENU_YN, IS_TUMBLER)
		VALUES (#{ order_id }, #{ line_id }, #{ menu_id }, #{ shot }, #{ syrup }, #{ whipped_cream }, #{ drizzle }, #{ size }, #{ option_sum }, #{ menu_cnt }, #{ price }, #{ private_menu_yn }, #{ is_tumbler })
	</select>
	<select id="selectOrderListWithAccountId" parameterType="String" resultType="recentOrder">
		SELECT *  
		FROM (
			SELECT		M.MENU_NAME, 
						(CASE OD.SIZE 	WHEN 'T' THEN 'Tall'
										WHEN 'G' THEN 'Grande'
										WHEN 'V' THEN 'Venti' END) SIZE,
						O.ORDER_ID,
						O.TUMBLER_ID,
						O.ORDER_TIME ORDER_TIME,
						O.STORE_NAME STORE_NAME,
						O.PRICE PRICE,
						O.ACCOUNT_ID,
						OD.DRIZZLE,
						OD.IS_TUMBLER,
						OD.LINE_ID,
						OD.MENU_CNT,
						OD.MENU_ID,
						OD.OPTION_SUM,
						OD.PRIVATE_MENU_YN,
						OD.SHOT,
						OD.SYRUP,
						OD.WHIPPED_CREAM,
						OD.PRICE AS DETAIL_PRICE
			FROM		SGT_ORDER O
			JOIN		SGT_ORDERDETAILS OD ON O.ORDER_ID = OD.ORDER_ID
			JOIN		SGT_MENU M ON OD.MENU_ID = M.MENU_ID
			WHERE 		ACCOUNT_ID = #{ accountId }
			AND			OD.IS_TUMBLER = TRUE
		) AS RO
		ORDER BY RO.ORDER_TIME DESC
	</select>
	<select id="selectOrderListWithTumblerId" parameterType="int" resultType="recentOrder">
		SELECT *  
		FROM (
			SELECT		M.MENU_NAME, 
						(CASE OD.SIZE 	WHEN 'T' THEN 'Tall'
										WHEN 'G' THEN 'Grande'
										WHEN 'V' THEN 'Venti' END) SIZE,
						O.ORDER_ID,
						O.TUMBLER_ID,
						O.ORDER_TIME ORDER_TIME,
						O.STORE_NAME STORE_NAME,
						O.PRICE PRICE,
						O.ACCOUNT_ID,
						OD.DRIZZLE,
						OD.IS_TUMBLER,
						OD.LINE_ID,
						OD.MENU_CNT,
						OD.MENU_ID,
						OD.OPTION_SUM,
						OD.PRIVATE_MENU_YN,
						OD.SHOT,
						OD.SYRUP,
						OD.WHIPPED_CREAM,
						OD.PRICE AS DETAIL_PRICE
			FROM		SGT_ORDER O
			JOIN		SGT_ORDERDETAILS OD ON O.ORDER_ID = OD.ORDER_ID
			JOIN		SGT_MENU M ON OD.MENU_ID = M.MENU_ID
			WHERE 		TUMBLER_ID = #{ tumblerId }
			AND			OD.IS_TUMBLER = TRUE
		) AS RO
		ORDER BY RO.ORDER_TIME DESC
	</select>
	<select id="selectOne" parameterType="String" resultType="recentOrder">
		SELECT *  
		FROM (
			SELECT		M.MENU_NAME, 
						(CASE OD.SIZE 	WHEN 'T' THEN 'Tall'
										WHEN 'G' THEN 'Grande'
										WHEN 'V' THEN 'Venti' END) SIZE,
						O.ORDER_TIME ORDER_TIME,
						TO_CHAR(O.ORDER_TIME,'HH:mm:SS') ORDER_TIME2,
						O.STORE_NAME STORE_NAME,
						O.PRICE PRICE,
						OD.PRICE AS DETAIL_PRICE,
						OD.DRIZZLE,
						OD.SHOT,
						OD.SYRUP,
						OD.WHIPPED_CREAM
			FROM		SGT_ORDER O
			JOIN		SGT_ORDERDETAILS OD ON O.ORDER_ID = OD.ORDER_ID
			JOIN		SGT_MENU M ON OD.MENU_ID = M.MENU_ID
			WHERE 		ACCOUNT_ID = #{ accountId }
			AND			OD.IS_TUMBLER = TRUE
		) AS RO
		ORDER BY RO.ORDER_TIME DESC
		LIMIT 1
	</select>
</mapper> 

