<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sinc.greentumbler.privateMenu">
	<select id="selectAll" parameterType="String" resultType="privateMenu">
		SELECT M.MENU_ID, M.MENU_NAME, PM.CUP, M.IMAGE, PM.ACCOUNT_ID, PM.SHOT, PM.SYRUP, PM.WHIPPED_CREAM, PM.DRIZZLE, PM.SIZE, PM.OPTION_SUM, PM.PRICE 
		FROM SGT_PRIVATE_MENU AS PM
		JOIN SGT_MENU M 
		ON PM.MENU_ID=M.MENU_ID
		WHERE ACCOUNT_ID=#{ accountId }
	</select>
	<select id="insertRow" parameterType="privateMenu" resultType="int">
		INSERT INTO SGT_PRIVATE_MENU (PRIVATE_MENU_ID, MENU_ID, ACCOUNT_ID, SHOT, SYRUP, WHIPPED_CREAM, DRIZZLE, SIZE, OPTION_SUM, PRICE, CUP)
		VALUES (NEXTVAL('SGT_PRIVATE_MENU_SEQ'), #{ menu_id }, #{ account_id }, #{ shot }, #{ syrup }, #{ whipped_cream }, #{ drizzle }, #{ size }, #{ option_sum }, #{ price }, #{ cup })
	</select>
</mapper>