<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.sinc.greentumbler.tumbler">
	<select id="selectAll" resultType="tumbler">
		SELECT	*
		FROM	SGT_TUMBLER	
	</select>
	<select id="selectOneByTumblerId" parameterType="int" resultType="tumbler">
		SELECT	*
		FROM	SGT_TUMBLER
		WHERE	TUMBLER_ID=#{tumbler_id}
	</select>
	<select id="selectOne" parameterType="String" resultType="tumbler">
		SELECT	T.TUMBLER_ID, T.TUMBLER_MONEY, T.NFC_ID, A.ACCOUNT_ID, A.NICKNAME, T.LOST_YN, T.PAY_YN, T.IMAGE, T.GREEN_SEED, T.TUMBLER_NAME
		FROM	SGT_TUMBLER	T
		JOIN	SGT_ACCOUNT A ON T.ACCOUNT_ID = A.ACCOUNT_ID
		WHERE	T.NFC_ID = #{nfcId}
	</select>
	<select id="selectOneById" parameterType="int" resultType="tumbler">
		SELECT	T.TUMBLER_ID, T.TUMBLER_MONEY, T.NFC_ID, T.TUMBLER_NAME, T.TUMBLER_PIN,A.ACCOUNT_ID, A.NICKNAME, T.LOST_YN, T.PAY_YN, T.IMAGE, T.GREEN_SEED
		FROM	SGT_TUMBLER	T
		JOIN	SGT_ACCOUNT A ON T.ACCOUNT_ID = A.ACCOUNT_ID
		WHERE	T.TUMBLER_ID = #{tumbler_id}
	</select>
	<select id="updateRow" parameterType="tumbler" resultType="tumbler">
		UPDATE SGT_TUMBLER
		SET TUMBLER_MONEY = #{ tumbler_Money }
		WHERE NFC_ID = #{ nfc_id }
		RETURNING TUMBLER_ID, NFC_ID, ACCOUNT_ID, TUMBLER_MONEY, LOST_YN, PAY_YN, TUMBLER_NAME, GREEN_SEED
	</select>
	<select id="selectTumb" parameterType="String" resultType="tumbler">
		SELECT	T.TUMBLER_ID, T.TUMBLER_MONEY, T.NFC_ID, A.ACCOUNT_ID, A.NICKNAME, T.LOST_YN, T.PAY_YN, T.IMAGE, T.TUMBLER_NAME
		FROM	SGT_TUMBLER	T
		JOIN	SGT_ACCOUNT A ON T.ACCOUNT_ID = A.ACCOUNT_ID
		WHERE	T.ACCOUNT_ID = #{accountId}
	</select>
	<select id="updateGreenSeed" parameterType="tumbler" resultType="int">
		UPDATE SGT_TUMBLER
		SET GREEN_SEED = #{ green_seed } 
		WHERE TUMBLER_ID = #{ tumbler_id }
	</select>
	<select id="updatePayYn" parameterType="tumbler" resultType="tumbler">
		UPDATE SGT_TUMBLER
		<if test='pay_yn.equals(true)'>
		SET PAY_YN = FALSE 
		</if>
		<if test='pay_yn.equals(false)'>
		SET PAY_YN = TRUE
		</if>
		WHERE TUMBLER_ID = #{tumbler_id}
		RETURNING NFC_ID, ACCOUNT_ID, TUMBLER_MONEY, LOST_YN, PAY_YN
	</select>
	<update id="addTumbler" parameterType="tumbler" >
		UPDATE SGT_TUMBLER SET ACCOUNT_ID = #{account_id}, TUMBLER_NAME= CONCAT(#{account_id}, '의 텀블러')
		WHERE TUMBLER_ID = #{tumbler_id}
	</update>
	<update id="addTumblerWithPIN" parameterType="tumbler" >
		UPDATE SGT_TUMBLER SET ACCOUNT_ID = #{account_id}, TUMBLER_NAME= #{ tumbler_name }
		WHERE TUMBLER_PIN = #{tumbler_pin}
	</update>
	<update id="chargeTumbler" parameterType="tumbler">
		UPDATE SGT_TUMBLER SET TUMBLER_MONEY = #{tumbler_Money}
		WHERE TUMBLER_ID = #{tumbler_id}
	</update>
	<update id="lostTumbler" parameterType="Integer">
		UPDATE SGT_TUMBLER SET LOST_YN = TRUE
		WHERE TUMBLER_ID = #{tumblerId}
	</update>
</mapper>