<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- SQL 설정. -->
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="defaultExecutorType" value="SIMPLE" />
        <setting name="mapUnderscoreToCamelCase" value="false" />
        <setting name="jdbcTypeForNull" value="VARCHAR" />
    </settings>
    <typeAliases>
		<typeAlias type="com.sinc.greentumbler.vo.AccountVO" alias="account"/>
		<typeAlias type="com.sinc.greentumbler.vo.TumblerVO" alias="tumbler"/>
		<typeAlias type="com.sinc.greentumbler.vo.MenuVO" alias="menu"/>
		<typeAlias type="com.sinc.greentumbler.vo.PrivateMenuVO" alias="privateMenu"/>
		<typeAlias type="com.sinc.greentumbler.vo.OrderVO" alias="order"/>
		<typeAlias type="com.sinc.greentumbler.vo.OrderDetailVO" alias="orderDetail"/>
		<typeAlias type="com.sinc.greentumbler.vo.RecentOrderVO" alias="recentOrder"/>
		<typeAlias type="com.sinc.greentumbler.vo.AlarmVO" alias="alarm"/>
		<typeAlias type="com.sinc.greentumbler.vo.AlarmOrderVO" alias="alarmOrder"/>
    </typeAliases> 
</configuration>
